.nav-btn{
    font-size: 18px;
    color: black;
    padding: 8px 13px;
    border-radius: 8px;
}

.nav-btn:hover{
    color: dodgerblue;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.05);
}

.nav-btn .title{
    margin: 0px 5px;
}