.head-title{
    font-size: 28px;
    margin-bottom: 1em;
    font-weight: bold;
}

.compact-button{
    font-size: 18px;
    padding: 0.5em;
    border-radius: 0.5em;
}

.compact-button:hover{
    text-decoration: none;
    background-color: rgb(213, 234, 255);
}

.content{
    padding-top: 100px;
}